// Custom styles.

// hide the black line in page top
.headband {
    display: none
}

// decorate menu
.site-meta {
    background: url("/images/menu_bg.png") center no-repeat;
    background-size: 100%;
}
.custom-logo-site-title {
    display: none;
}

// decorate author menu
.site-author-image {
    border-radius: 50%;
}
.site-overview {
    background-image: url("/images/avatar_decoration.png");
    background-position: -10px -20px;
    background-repeat: no-repeat;
    background-size: 30%;
}

// link underline will be covered on phone
.post-body a {
    font-style: italic;
}

@media screen and (min-width: 640px) {
    // decorate post
    .page-home .post-body {
        background-image: url("/images/post_decoration.png");
        background-position: 100% 90%;
        background-repeat: no-repeat;
        background-size: 100px;
    }
}

.links-of-author-item a {
    max-width: 442px;
}

.music-player {
    right: 0px;
    bottom: 0px;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    z-index: 1050;
    padding: 0 6px;
    margin: 10px;
    background: #222;
    color: #fff;
    cursor: pointer;
    text-align: center;
    -webkit-transform: translateZ(0);
    transition-property: bottom;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.back-to-top, .music-player {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  transition:all .5s;
  -webkit-transition:all .5s;
  -ms-transition:all .5s;
  opacity: 0.5
}
.back-to-top:hover , .music-player:hover{
  opacity: 0.9;
}

.post-toc .nav-item {
  white-space: unset;
  margin-bottom: 7px;
}
