// Custom styles.

// hide the black line in page top
.headband {
    display: none
}

// decorate menu
.site-meta {
    background: url("/images/menu_bg.png") center no-repeat;
    background-size: 100%;
}
.custom-logo-site-title {
    display: none;
}

// decorate author menu
.site-author-image {
    border-radius: 50%;
}
.site-overview {
    background-image: url("/images/avatar_decoration.png");
    background-position: -10px -20px;
    background-repeat: no-repeat;
    background-size: 30%;
}

// decorate post
.page-home .post-body {
    background: url("/images/post_decoration.png") bottom right no-repeat;
    background-size: 100px;
}
