// Custom styles.
.headband {
    display: none
}
.site-meta {
    background: url("/images/menu_bg.png") center no-repeat;
    background-size: 100%;
}
.custom-logo-site-title {
    display: none;
}
.site-author-image {
    border-radius: 50%;
}
